body{
    background: #c3e4ed;
    color: #555555;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.container{
    display: flex;
}

.output{
    flex: 1;
}

#state{
    display: flex;
    align-items: center;
}

#state p{
    display: inline-block;
    font-size: larger;
}

.ele{
    margin-bottom: 10px;
}

.zip{
    width: 50%;
    margin-top: 20px;
}

.headline {
    display: inline;
    font-size: 40px;
    border-bottom:1px solid rgba(59, 74, 107, .4);
    margin-bottom: 100px;
}

label{
    display:block;
    font-size: 27px;
}

input, textarea{
    display:block;
    height: 60px;
    width: 320px;
    color: #555555;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    background-color: transparent;
}

#feelings{
    height: 100px;
    width: 320px;
}

button {
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
h1{
    font-size: 36px;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

.temp{
    display: flex;
}
.output img{
    margin: 20px;
    display: inline-block;
}

.output .temp div{
    background-color: rgb(152, 152, 152);
    height: 100px;
    padding: 10px;
    width: 30%;
    margin: 10px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}

#feel{
 background-color: rgb(152, 152, 152);
    height: 120px;
    padding: 10px;
    width: 67%;
    margin: 10px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}